<?xml version="1.0"?>
<!--
 ~ @author Interactiv4 Team
 ~ @copyright Copyright (c) 2017 Interactiv4 (https://www.interactiv4.com)
 ~ @package Interactiv4_Post
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Interactiv4_Post" setup_version="0.1.0">
    </module>
</config>